.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: white;
  padding:5% 10%;
}

.horizontal-container{
    display: flex;
    flex-direction: row;
    gap: 0.2rem;
}

.number-input {
    width: 3rem;
}
.character-input {
    width: 1rem;
}

.exercise-part > button {
    margin-top: 0.4rem;
}
